body{

    background-color: aquamarine;
    background-color: pink;
}


#head{

    background-color: azure;
    width: 70%;
    margin: auto;
    border: 10px;
    /*border-color: black; */
    text-align: center;
    position: relative;
    border-radius: 5%;
    border-width: 5px;
    border-style: dashed;
    text-align: center;
  
    margin-bottom: 1%;
    

}

#section{
    background-color: azure;
    width: 70%;
    margin: auto;
    border: 10px;
    padding: 10px;
    
    border-color: black;
    border-radius: 10%;
    border-width: 5px;
    border-style: dashed;
    text-align: center;
   

    
}


#section #imgID1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;

}

/*
#section #buttonID{

    background-color: #4CAF50; /* Green */
    /*
    border: 2px;
    border-color: black;
    border-style: dashed;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 

    

}
*/


#button1 {
  position: relative;
  background-color: black;
  border: none;
  border-style: initial;
  border-radius: 80%;
  font-size: 20px;
  color: #FFFFFF;
  padding: 1%;
  width: 30%;
  margin-top: 2%;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#button1:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#button1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}



