body{

    background-color: aquamarine;
    background-color: rgb(218, 160, 170);
   
    background-image: url("sources/background.jpg");
    background-color: #cccccc;
}


#head{

    background-color: azure;
    width: 70%;
    margin: auto;
    border: 10px;
    /*border-color: black; */
    text-align: center;
    position: relative;
    border-color: white;
    border-radius: 60%;
    border-width: 5px;
    border-style: dashed;
    text-align: center;
  
    margin-bottom: 1%;
    

}

fg



#section{
    background-color: azure;
    width: 70%;
    margin: auto;
    border: 10px;
    padding: 10px;
    
    border-color: black;
    border-radius: 10%;
    border-width: 5px;
    
    text-align: center;
   

    
}


#section #imgID1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;

}




#button1 {
  position: relative;
  background-color: black;
  border: none;
  border-style: initial;
  border-radius: 80%;
  font-size: 20px;
  color: #FFFFFF;
  padding: 1%;
  width: 30%;
  margin-top: 2%;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#button1:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#button1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#section #contentSection{

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    font-size: 18px;
    width: 70%;
    
    margin-top: 5%;

    text-align: center;
}

#section #gifID{

    flex-basis: 40%;
    padding-left: 10%;
    width: 40%;
    height: auto;

}

h2{
    margin-top: 3%;
    padding-top: 3%;
    border-style: groove;
    border-color: black;
    border-bottom: 2px;
    width: 40%;
    text-align: center;
    margin-left: 30%;
}

footer{

    margin: auto;
    position: relative;
    text-align: center;
    color: white;
    size: 15ex;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width: 60%;
  } 